.ice {
    margin-top: 5%;
    text-align: center;
    border-radius: 25px;
}
.hot{
    border-radius: 25px;
 
}

.T {
    font-size: 40px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.b{
    position:relative;
    left: 176px;
}

.f {
    position: relative;
    left: 238px;
}